= require './views/helper.rb'
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Opal or Not? Find out if Sydney's new transport smartcard will cost you more.
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/

  %body
    = Helper.render_view('navbar')
    .container
      .bs-docs-section
        %p.page-header
          %h1 Frequently asked questions

        %h5 What fares is this comparing?
        %p Adult full fares for Opal, MyMulti, TravelTen (bus & ferry) and MyTrain, with any transfers within 60 minutes.  All prices are per week.

        %h5 Why is my train station missing?
        %p
          Opal fares have only been published for Sydney Train stations and some NSW TrainLink stations near Sydney.
          See
          %a{href: 'https://www.opal.com.au/en/about-opal/what-services-can-i-use-it-on/Train_stations_with_opal/'}
            the list
          on the Opal site.  The
          %a{href: 'https://www.opal.com.au/en/asset/a50ac299-3573-4a43-a7d2-bdb6e73861d2/map_5-opal_card_train_rollout_complete.pdf'} rest
          will be added once fares are confirmed.

        %h5 How about concession, pensioner, one-way, multiple transfers, link tickets, Family Fun Day, airport gate pass...?
        %p
          The interface aims to make it as simple as possible for regular commuters to see how Opal
          will affect them.  But if enough people
          %a{href: '#shout'} shout me a beer
          and tell me what they want to see, I'll consider implementing more.

        %h5 Are these comparisons accurate?
        %p
          Mostly, but there are a few catches:
          %ul
            %li Opal bus bands do not match MyBus zones exactly.
            %li MyMulti zones do not match Opal bands or MyBus/MyTrain distances exactly.
            %li Off-peak fares are not computed all day on weekends.
            %li
              Distances to/from City stations only roughly approximate the
              %a{href: "http://www.shittytrains.info/tickets/pdf/Passenger_Fares_Handbook.pdf"} magic 3.21&nbsp;km
              used by the official fare rules.
        %p
          So depending on your route and destination, the computed fare may be based on an Opal band or MyMulti/MyBus/MyTrain ticket class that's actually cheaper or more expensive that what you need to buy.
        %p
          Also,
          %a{href: '#disclaimer'} please beware
          that these fare calculations are in no way vetted or approved by Transport for NSW, and may contain faulty numbers or faulty logic.
          %a{href: 'https://github.com/jpatokal/opal_or_not/issues'} Bug reports
          are welcome.

        %h5#trybus I'm trying to enter a trip between two train stations, why is it telling me to use a bus instead?
        %p
          If there's a (theoretically) faster bus connection, the
          %a{href: "https://developers.google.com/maps/documentation/directions/"} Google Directions API
          used under the hood will not suggest any trains, so it can't figure out the distance between them.  Try another nearby train station.

        %h5 Who's behind this and why?
        %p
          There's a
          %a{href: 'http://gyrovague.com/2014/02/23/sydneys-screwed-up-smartcard-or-why-i-wrote-opal-or-not/'} blog post
          about that.

        %h5 Can I see or use your source code?
        %p
          Sure, it's all on
          = succeed "." do
            %a{href: 'https://github.com/jpatokal/opal_or_not'} Github

        %h5#shout You just saved me a hundred bucks.  Can I buy you a beer?
        %p
          Certainly.
          %a{href: "https://www.paypal.com/sendmoney?email=info@contentshare.sg"} PayPal
          (info at contentshare dot sg), Bitcoin (
          %tt
            1LyJTcubFcJhkFEHwJX9E54n8YGoGZmHd6
          ) or even in liquid form if you're around Pyrmont/the CBD in the evenings.

      = Helper.render_view('footer')
