= require './views/helper.rb'
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %title Opal or Not
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{description: "Opal or Not?  Find out if Sydney's new transport smartcard will cost you more."}/
    %link{href: "/vendor/bootstrap/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", rel: "stylesheet"}/
  %body
    = Helper.render_view('navbar')
    .container
      .bs-docs-section
        .row{style: "margin: 64px 0px 10px 0px"}
          %img{src: "images/Opal_card.png", width: 200, height: 84}
          %span.h1.text-primary
            or Not?
          %p.lead.pull-right
            Find out if Sydney's new transport smartcard will cost you more.

      .bs-docs-section
        .well
          %form.bs-example.form-horizontal{onsubmit: "return false;"}
            %fieldset
              .form-group
                .col-md-2.col-md-offset-1
                  %select.count.form-control
                    %option{value: 2} One
                    %option{value: 4} Two
                    %option{value: 6} Three
                    %option{value: 8} Four
                    %option{value: 10, selected: "true"} Five
                    %option{value: 12} Six
                    %option{value: 14} Seven
                %label.col-md-8.control-label{style: "text-align:left"} days a week,

              .form-group.segment-1
                %label.col-md-2.col-md-offset-1.control-label I travel by
                .col-md-2
                  %select.mode.form-control
                    %option{selected: "true"} bus
                    %option ferry
                    %option train
                %label.col-md-1.control-label in&nbsp;zone
                .col-md-2
                  %select.zone.bus.form-control
                    %option{value: 1} MyBus 1
                    %option{value: 2} MyBus 2
                    %option{value: 3, selected: "true"} MyBus 3
                  %select.zone.train.form-control.hidden
                    %option{value: 1} MyTrain 1
                    %option{value: 2} MyTrain 2
                    %option{value: 3} MyTrain 3
                    %option{value: 4} MyTrain 4
                    %option{value: 5} MyTrain 5
                  %select.zone.ferry.form-control.hidden
                    %option{value: 1} MyFerry 1
                    %option{value: 2} MyFerry 2

              .form-group.segment-2.hidden
                %label.col-md-2.col-md-offset-1.control-label and
                .col-md-2
                  %select.mode.form-control
                    %option bus
                    %option ferry
                    %option{selected: "true"} train
                %label.col-md-1.control-label in&nbsp;zone
                .col-md-2
                  %select.zone.bus.form-control.hidden
                    %option{value: 1} MyBus 1
                    %option{value: 2} MyBus 2
                    %option{value: 3} MyBus 3
                  %select.zone.train.form-control
                    %option{value: 1} MyTrain 1
                    %option{value: 2} MyTrain 2
                    %option{value: 3} MyTrain 3
                    %option{value: 4} MyTrain 4
                    %option{value: 5} MyTrain 5
                  %select.zone.ferry.form-control.hidden
                    %option{value: 1} MyFerry 1
                    %option{value: 2} MyFerry 2

              .form-group
                .col-md-2.col-md-offset-3
                  %button.btn.add.transfer
                    %span.glyphicon.glyphicon-chevron-down
                    Add transfer
                  %button.btn.remove.transfer.hidden
                    %span.glyphicon.glyphicon-chevron-up
                    Remove transfer
                .col-md-6.pull-right
                  %button.btn.btn-primary.btn-lg.compare#results
                    %span.glyphicon.glyphicon-search
                    Compare fares

      .bs-docs-section.results.hidden
        .row
          #bar-chart.col-lg-12{style: "height: 160px"}
        .row
          .col-lg-12
            %p.lead{style: "margin-bottom:0px"}
              %span.opal-wins
                %span.text-primary
                  Opal?
                Go for it, pal.  Switching from
                %span.alternative.text-success
                  TravelTen
                would save you
                %span.weekly-savings
                  23.44
                every week, or
                %span.yearly-savings
                  523.44
                a year.
              %span.opal-loses
                %span.text-primary
                  Opal?
                No, pal. Using
                %span.winner.text-success
                  TravelTen
                instead would save you
                %span.weekly-savings
                  23.44
                every week, or
                %span.yearly-savings
                  523.44
                a year.
        .row
          .col-lg-12
            %p
            %p
              After A comparisons, B% found Opal cheaper, saving a total of $C,
              and C% found Opal more expensive, costing them an extra $D.
            %p
              Did you find this useful? Help spread the word.

      = Helper.render_view('footer')

    %script{src: "vendor/jquery-1.9.1.min.js"}
    %script{src: "vendor/bootstrap/js/bootstrap.min.js"}
    %script{src: "https://www.google.com/jsapi"}
    %script{src: "js/opal_or_not.js"}
